/*
Site Name: Uni Orthodontic Clinic
Author: Brainworks
Page: Second
*/

/* ------------------------------------------------------------------------------------ */
/* -------------------------------------- 2nd page ------------------------------------ */
/* ------------------------------------------------------------------------------------ */

/* ------------------------ mainPic ------------------------ */

#mainPic {
	width:950px;
	margin:0 auto 0 auto;
	margin-bottom:20px;
	height:105px;
}

/* ------------------------ subnavi ------------------------ */

/* topicPath */

#subnaviBox #topicPath {
	float:left;
	display:inline;
	margin:15px 0 0 11px;
	width:470px;
	font-size:0.8em;
}

#subnaviBox #topicPath ul {list-style:none;}
#subnaviBox #topicPath ul li {
	float:left;
	display:inline;
}

#subnaviBox #topicPath a { color:#8C8C8C;}
#subnaviBox #topicPath a:hover { color:#444;}

/* ------------------------ main ---------------------- */

#main {
	float:left;
	display:inline;
	margin:0 0 40px 15px;
	padding:0;
	width:660px;
}

#main h3 {
	margin-bottom:35px;
	border:solid #B8D0D9;
	border-width: 1px 1px 2px 1px;
	border-bottom:solid 2px #6CA3D9;
	background:none #FAFAFA;
}
#main h3 img { padding: 5px 0 3px 0;}

#main h4 {
	margin: 0 0 25px 10px;
	padding:5px 0 7px 13px;
	font-size:0.1em;
	background:url(../img/home/h3HeaderBack.gif) no-repeat;
	border-bottom:solid 1px #91C1F2;
}
*:first-child+html #main h4 { padding:0 0 3px 13px;}
*:first-child+html #main h4 img { vertical-align: middle;}

#main h5 {
	clear:both;
	margin: 0 0 10px 25px;
	padding:3px 0 4px 13px;
	font-size:0.1em;
	background:url(../img/second/h5HeaderBack.gif) no-repeat top left;
}

*:first-child+html #main h5 { padding:0 0 4px 13px;}

#main h6 {
	clear:both;
	margin: 0 0 5px 25px;
	font-size:0.8em;
	color:#666666;
}

#main ul { margin: 0 0 20px 25px;}
#main li {
	list-style:none;
	line-height:1.5;
	font-size:0.8em;
	color:#333;
}
#main ul.ulbtm40 { margin-bottom:40px;}

#main p { margin-left:25px;}

#main p.introBox {
	float:left;
	display:inline;
	margin: 0 15px 20px 25px;
	padding:0;
}


/* ------------------------ side ------------------------ */

#introduction #side p { margin-left:0;}

#side ul {list-style:none;}

#side {
	margin:0 25px 0 0;
	padding:0;
	width: 200px;
	float:right;
	display:inline;
}

#side .sideBox {
	margin-bottom:40px;
	border: solid 1px #6EB2CB;
}

#side .sideBox h3 {
	margin-bottom:10px;
	padding:7px 0 8px 0;
	text-align:center;
	background-color:#6EB2CB;
}
#side .sideBox ul { margin: 0 0 15px 10px;list-style-type:none;}
#side .sideBox li {
	padding-left:10px;
	font-size:0.8em;
	line-height:1.6;
	background:url(../img/home/list01.gif) no-repeat left 55%;
}

#side .sideBox a {color:#666;}
#side .sideBox a:hover {color:#333;}
