/*
Site Name: Uni Orthodontic Clinic
Author: Medical Works
page: treatment
*/

/* ------------------------------------------------------------------------------------ */
/* -------------------------------------- 2nd page ------------------------------------ */
/* ------------------------------------------------------------------------------------ */

#treatment #main .categoryBox {
	margin:0 auto 60px auto;
	width:609px;
	border:solid 1px #6CB5D9;
}

#treatment #main .categoryBox h5 {
	margin-left:0;
	padding-left:5px;
	font-size:0.9em;
	line-height:1.5;
	color:#FFF;
	background-image:none;
	background-color:#6CB5D9;
}

#treatment #main .categoryBox h6 {
	margin: 0 0 10px 15px;
	padding:2px 0 4px 10px;
	font-size:0.9em;
	color:#6CB5D9;
	background: url(../../../common/img/second/h5HeaderBack.gif) no-repeat top left;
}

#treatment #main p { margin-left:12px;}
#treatment #main .center { text-align:center;}
#treatment #main .right { text-align:right;}
#treatment #main .end { margin-bottom:40px;}
#treatment #main .arrow {
	padding-bottom:60px;
	background:url(../img/arrow.gif) no-repeat center bottom;
}
#treatment #main .red { color:#E3003E;}

#treatment #side ul ul { margin-bottom:0px;}

/* ------------------------ Outline ---------------------- */

#treatment.outline #main p { margin-left:25px;}
#treatment.outline h5 {
	clear:both;
	margin: 0 0 10px 25px;
	padding:3px 0 4px 13px;
	font-size:0.1em;
	background:url(../../../common/img/second/h5HeaderBack.gif) no-repeat top left;
}

#treatment.outline h6 {
	margin: 0 0 15px 38px;
	padding-left:10px;
	font-size:0.1em;
	background:url(../../../common/img/second/h6HeaderBack.gif) no-repeat left 50%;
}

#treatment.outline #main ul { margin: 0 0 60px 35px; list-style:none;}
#treatment.outline #main li {
	padding-left:25px;
	font-size:0.8em;
	line-height:1.8;
	color:#666;
	list-style:none;
	background:url(../../../common/img/home/list01.gif) no-repeat 15px 50%;
}

/* ------------------------ start02 ---------------------- */

#treatment.start02 #main p.textBig { font-size:0.9em; font-weight:bold;}

/* ------------------------ end08 ---------------------- */

#treatment.end08 #main p.textBox01 {
	float:left;
	display:inline;
	margin-left:80px;
	width:200px;
}
#treatment.end08 #main p.textBox02 {
	float:right;
	display:inline;
	margin-right:60px;
	width:200px;
}

#treatment.end08 #main .btm40 { margin-bottom:40px;}

/* ------------------------ surgery03 ---------------------- */

#treatment.surgery03 #main .floatBox { margin-bottom:20px;}
#treatment.surgery03 #main .floatBox img {
	float:left;
	display:inline;
	margin: 0 10px 0 12px;
}
