/*
Site Name: Uni Orthodontic Clinic
Author: Brainworks
page: ctpicture
*/

/* ------------------------------------------------------------------------------------ */
/* -------------------------------------- 2nd page ------------------------------------ */
/* ------------------------------------------------------------------------------------ */

/* ------------------------ index ---------------------- */

#ctpicture.index #main h6 {
	margin: 0 0 15px 38px;
	padding-left:10px;
	background:url(../../../common/img/second/h6HeaderBack.gif) no-repeat left 50%;
}

#ctpicture.index #main .undar { text-decoration:underline;}
#ctpicture.index #main .red { color:red;}
#ctpicture.index #main .green { color:green; font-size:1.1em;}
#ctpicture.index #main .fontsmall { font-size:0.8em;}
#ctpicture.index #main .left40 { margin-left:40px;}
#ctpicture.index #main .left50 { margin-left:56px;}
#ctpicture.index #main .left60 { margin-left:60px;}
#ctpicture.index #main .btm00 { margin-bottom:0;}

#ctpicture.index #main .box01 { margin: 0 0 40px 40px;padding:10px; width:25em; border:solid 1px #CCC;}
#ctpicture.index #main .box02 { margin: 0 0 40px 40px;padding:10px;border:solid 1px #CCC;}
#ctpicture.index #main .box02 p { margin:0;}
#ctpicture.index #main .box02 ol { margin-left:33px;}

#ctpicture.index #main a { color:#0066FF; text-decoration:underline;}
#ctpicture.index #main a:hover { color:#5A9DFF;}

#ctpicture.index #main ol li { list-style: decimal;}
#ctpicture.index #main ol li ul { margin: 0 0 0 15px;}
#ctpicture.index #main ol li li { list-style: disc;font-size:1em;}

#ctpicture.index #main ul.list02 { margin: 0 0 40px 40px;}
