/*
Site Name: Uni Orthodontic Clinic
Author: Brainworks
page: policy
*/

/* ------------------------------------------------------------------------------------ */
/* -------------------------------------- 2nd page ------------------------------------ */
/* ------------------------------------------------------------------------------------ */

/* ------------------------ policy ---------------------- */

#policy.index p.headTxt { margin-left:15px;}
#policy.index p.box { margin-right:20px;padding:10px; border:solid 1px #CCC;}
